<section class="about" id="about">
  <aside class="logo"><img src="assets/pi-symbol.svg"></aside>
  <div>
    <h1>P1xt</h1>
    <p>Freelance Software Engineer specializing in full stack JavaScript Web development.</p>
    <h2>Current Focus</h2>
    <ul>
      <li>Angular 4</li>
      <li>Node.js</li>
      <li>Ionic 3</li>
    </ul>
  </div>
</section>
<section class="portfolio" id="portfolio">
  <h1>Portfolio</h1>
  <p>Examples of my recent work:</p>
  <div class="projects">
    <md-card *ngFor="let project of projects">
      <md-card-header>
        <md-card-title>{{project.title}}</md-card-title>
        <md-card-subtitle>{{project.subtitle}}</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="{{project.image}}">
      <md-card-content>
        <p>
          {{project.description}}
        </p>
      </md-card-content>
    </md-card>
  </div>
</section>
<section class="contact" id="contact">
  <h1>Contact</h1>
  <p>You can get ahold of me on <a href="https://twitter.com/P1xt">Twitter</a> 
  and sometimes I write some stuff on <a href="#">Medium</a>.</p>
  <p>Though, truth be told, this is a throwaway project for a speedrun I'm doing so 
    caveat emptor - if you're using this to contact me, you're probably going to be
    disappointed.
  </p>
</section>