section {
  min-height: 250px;
  width: 90%;
  margin: 0 auto;

  padding: 20px;
}
.about {
  display: flex;
  flex-direction: row;
  aside {
    margin-right: 50px;
    img {
      width: 200px;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    margin-left: -40px;
    li {
      list-style-type: none;
      margin-right: 30px;
    }
  }
  @media (max-width: 700px) {
    flex-direction: column;
    aside {
      display: none;
    }
  }
}
.portfolio {
    background: #fff;
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    md-card {
      max-width: 250px;
      width:100%;
      margin: 1%;
      margin-bottom: 20px;
    }
  }
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}
