li {
  list-style-type: none;
}
ul {
  padding: 0px;
  margin: 20px;
}
md-toolbar {
  margin-bottom: 50px;
}
md-nav-list {
  display: flex;
  flex-direction: row;
  color: #fff;
  a {
    color: #fff;
  }
  a:hover {
    color: ddd;
  } 
  @media (max-width: 700px) {
    display: none;
  }
}
.menu-small {
  @media (min-width: 700px) {
    display: none;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  a:hover {
    color: ddd;
  } 
}