<md-toolbar color="primary">
  <span>FCC Project: Portfolio</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill"></span>

  <span>
    <md-nav-list>
      <a md-list-item href="#about">About</a>
      <a md-list-item href="#portfolio">Portfolio</a>
      <a md-list-item href="#contact">Contact</a>
    </md-nav-list>
    <div class="menu-small">
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      
      <md-menu #menu="mdMenu">
        <ul class="menu">
          <li><a md-button href="#about">About</a></li>
          <li><a md-button href="#portfolio">Portfolio</a></li>
          <li><a md-button href="#contact">Contact</a></li>
        </ul>
      </md-menu>
    </div>

  </span>
</md-toolbar>